/*****Original CSS*******/

#forgotpassword {
    display: none;
}

* {
  box-sizing: border-box;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}


/* Hide the images by default */
.mySlides {
  display: none;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}


.active,
.demo:hover {
  opacity: 1;
}

/*******Style of Login Page*******/
#header-region {
	background: white;
}

.sorting {
	color: white;
}

.form-row {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1080px;
}

.col-auto {
	margin-left: 20px;
}

.sco {
   padding: 0 !Important;
   margin: 0 0 -55px 0 !Important;
   width: 1080px !Important;
   height: 1920px !Important;
  border: 20px solid #084d69;
}


.selfcheck-body {
 overflow: hidden !Important;
 margin: 0px; 
}


.sco #wrap {
   padding: 0;
}

#wrapper { 
	padding: 0;
} 

/****Header****/
.sco .navbar-inner {
   background: white;
   border-bottom: none;
}


.sco_header {
   max-width: 1080px;
   position: fixed;
   top: 42px;
   margin-left: -20px; /* Push Content right */
}


.selfcheck-banner {
  max-width: 1080px;
}

/* Help Page */

#sco_help .main{
  	width: 1040px;
    height: 1880px;	
   
}

#sco_help .button {
	display: block;
  	width: 300px;
  	background-color: #9b4321;
  	text-align: center;
    font-family: 'Muli';
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
  	margin-top: 45px;
    margin-left: 420px; 
}

button.btn.btn-primary {	
  margin-top: 45px;
  margin-left: 425px;
}

/*#sco_help .row-fluid {
	width: 940px;
    padding: 20px;
  	padding-left: 30px;
    font-family: 'Muli';
    font-size: 20px;
  	line-height: 23px;
}*/

#sco_help a {
	color: white;
  	text-decoration: none;
}

.sco_help h1 {
  font-size: 35px;
  color: rgb(0, 145, 150);
  font-family: 'Muli';
}


/*End Help Page*/

/****Form Field Section*****/

.sco .input-append {
  max-width: 1080px;
  margin-left: -20px; /* Push Content right*/
}


.sco .main {
  width: 1040px !Important;  
  margin-left: 0;
}


.sco_entry fieldset {
  max-width: 1080px;
  margin-left: -20px; /* Push Content Left*/
}


.sco_entry mainform {
  max-width: 1080px !Important;
}


.sco #masthead {
   display: none;
}


.sco_entry label {
   visibility: hidden;
   padding-top: 30px;
   margin: 340px 0 0px 335px; 
}
 

.sco_entry label:before {
   display: block;
   white-space: pre; 
   line-height: 2em;
   text-align: center;
   content: 'Welcome to the Self Checkout station! \A Please Scan Your Library Card:';
   margin-left: -185px;
   margin-top: -100px;
   visibility: visible;
   font-family: "Muli", sans serif;
   font-size: 2.5em;  
}


.sco_entry #patronid {
   margin: 0px 0 0 270px;
   width: 500px;
   height: 50px;
   padding: 0;
}


.sco #opaccredits {
   display: none;
}


#mainform .btn {
   width: 150px;
   height: 50px;
   margin-top: 40px 0 0 465px;
   background: #9b4321 !Important;
   border-radius: 5px;
   color: white;
   font-size: 22px; 
   font-family: Muli, sans-serif;
   border: none;
   -webkit-user-select: none; /* Chrome/Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */
   -o-user-select: none;
   user-select: none;
}


#sco_main .main {
   margin: auto; 
   padding: 0 !Important; 
   border: none !Important;
   border-radius: 0 !Important;
   -webkit-box-shadow: none !Important;
   box-shadow: none !Important;
   height: 1080px !Important;
    background-image: url('https://raw.githubusercontent.com/mckinneylibrary/images/master/Untitled%20design(3).png');
  background-repeat: repeat; 
}

.sco .langlabel, #langmenu {
	display: none;
}


.span12 #koha_url {
   display: none;
}


.sco_main .container-fluid {
   background: #fff;
   padding: 0 !Important;
   max-width: 1080px;
}

#wrapper > div.main > div:nth-child(1) > div > div > div:nth-child(3) > ul {
	list-style-type: none;
}

/*****Slider*****/

.selfcheck-slideshow {
  position: fixed;
  bottom: 153px;
  width: 1040px !Important;
  height: 607.5px;
  margin-left: -7.5px; /* Push Content right*/
  overflow: hidden;
}


.selfcheck-slide {
  position: fixed;
  max-width:1040px !Important;
  height: 607.5px;
  margin-left: -7.5px; /*  Push Content right */
}


.selfcheck-slideshow .active {
  z-index: 99;
}


/*****Footer*****/
.selfcheck-footer {
  position: fixed;
  bottom: 0;
  background: #084d69;
  width: 1080px !Important;
  height: 135px;
  z-index: -2;
  margin-left: -18px;  /*Push Content right*/
}


.selfcheck-mckinneylogo {
  float: left;
  width: 40%;
  padding: 20px 50px;
  margin-bottom: 40px;
  z-index: 2;
  margin-left: -40px;
}


#selfcheck-footertext {
   color: white;
   font-family: Muli, sans-serif;
   font-size: .68em; 
   float: right; 
   margin-right: 60px;
   margin-top: 20px;
   line-height: 1.55em;
}

#report-koha-url {
	display: none;
}

/*******Style of Checkout Page*******/


#newcheckout #barcode {
   margin: 10px 0 0 232px;
   width: 550px;
   height: 35px;
   padding: 0;
}


#newcheckout legend {
   display: none;
}


#newcheckout label {
   visibility: hidden;
   padding-top: 15px;
   margin: 10px 0 0 280px; 
}
  

#newcheckout label:before {
   content: 'Please place items one at a time on the pad.';
   visibility: visible;
   font-family: "Muli", sans serif;
   line-height: 1em;
   font-size: 1.75em;
   margin: auto;
}

#scan_form label {
	margin-left: 225px;
}

#scan_form .btn-primary {
 display: none;
  
}

#scan_form.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1080px;
}

#scan_form input {
	position: relative;
   /* margin-left: 100px;*/
    z-index: 1000;
}

.row {
	position: relative;
}

#logout_form {
    color: #fff;
    background-color: #9b4321;
    border-color: #9b4321;
    width: 150px;  
    margin-left: 120px;
    margin-top: 60px;
}



i.fa.fa-check {
	display: none;
}
 
.btn-info:hover {
    color: #fff;
    background-color: #ff5757;
    border-color: #ff5757;
}
 


.sco .alert {
   color: #ff5757;
   font-size: 1.25em;
   background: none;
   border: none;
   text-align: center;
   padding-top: 25px;
   padding-bottom: 0;
   margin: 0 0 0 45px;
}


/*.sco .nav-tabs {
   display: none;
}*/


#borrowerdetails h3 {
  margin: 0 0 0 315px;
}

#wrapper > div.main > div:nth-child(1) > div > div > div.alert.alert-info {
	color: #9b4321;
}


.sco #opacheader {
   display: none;
}


.sco_header {
   display: none;
}


.sco .back {
   background: #ff5757;
   border: none;
   color: white;
   text-shadow: none;
   font-family: 'Muli';
   margin-top: 10px;
   padding: 10px;
}


.sco .back:focus {
   outline: none;
}

.sco .tab-content {
	height: 35vh !Important;
}


.sco #loanTable {
   max-height: 40vh;
   width: 1038px;
   display:block;
   margin-top: 5px;
}


#loanTable th {
    width: 100%;
    top: 0;
    position: sticky !Important;
    background-color: #084d69 !Important;
}


#loanTable caption {
   display: none;
}

#loanTable tbody {
    background: #fff !Important;
}


/*Removing the Renewal Column*/
table tr>th:nth-of-type(4),   table tr>td:nth-of-type(4){
    display: none;
}

#loanTable {
    border: none;
  	margin: 0 0 0 30px;
}

.tab-content {
  overflow-x: hidden;
}

/*Table Stripes*/
.table-striped tbody > tr:nth-child(1) > td, .table-striped tbody > tr:nth-child(1) > th {
    background-color: #e9ffdb !Important;
    
}

/*Print Modal Style*/
#bootstrap-confirm-box-modal-submit {
	background: #ff5757;
}

#bootstrap-confirm-box-modal-cancel {
	background: rgb(0, 145, 150);
}

/**** Error Modal Style (Wrong Barcode Popup) ****/
/*Button*/
#try_again {
	width: 325px;
    height: 65px;
	margin: auto !important;
	color: #fff;
	background: #9b4321 !important;
   	font-size: 1.5em;
    margin-bottom: 25px;
}

#wrapper > div.main > div > div > div > div.alert.alert-warning > form > input.btn.btn-info.back.focus {
	background: #9b4321;
}

/*Spacing and Alignment*/
#sco_error > div > div > div.modal-body > div {
	margin-left: 0px;
}

#sco_error > div > div > div.modal-body > div > p {
	padding-top: 10px; 
    color: black;
    font-size: 1.5em;
}

//#wrapper > div.main > div > div > div > div.alert.alert-warning > h2 {
	display: none;
}

#sco_error > div > div > div.modal-body > div > h2 {
	color: #9b4321;
    font-size: 1.1em;
}

#sco_error .modal-content {
	width: 800px;
    margin-left: -150px;
    border-radius: 20px;

}

#sco_error .modal-footer {
	margin-bottom: 25px;
}

/*Placement of Modal on the Page*/
#sco_error.modal {
	top:400px;
    width:100%; 
    margin: auto;
}

/* Rewording H2 "This item Cannot be Checked Out" */
#sco_error h2 {
	visibility: hidden;
  	width: 100%;
}

#sco_error h2::before {
	content:"Uh-oh!";
  	white-space: pre;
	color: #9b4321;
	visibility: visible;
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-bottom: -15px;
  	font-weight: bold;
    font-size: 1.4em;
}

/* Rewording Renewal Error */
#ce_no_more_renewals {
	visibility: hidden;
    width: 100%;
}

#ce_no_more_renewals::before {
	visibility: visible;
    display: block;
 	width: 100%;
    text-align: center;
    content: "You have already scanned this item. It is currently checked out to your account. Click try again and continue with your next item.";
    color: black;
    margin: auto;
    padding: 25px;
}

/* breaklining the line that says "Please See a Member of the Library Staff" -- temporary fix until each error message has its own class -- then I will customize per each notice -KS*/
#ce_see_staff::before {
    content: "\a";
    white-space: pre;
} 

/*Getting rid of "sorry" header*/
#ce_see__staff, h3 {
	display: none;
}


/* Style the iframe to fit in the container div with full height and width */

iframe {
/* Extend it beyond the viewport... */
	width: 300%;
	height: 103%;
/* ...and bring it back again */
	margin-left: -100%;
} 

/*** Centering OPAC Messages on Self Checkout ***/
div.alert.alert-info {
	margin-left: 0; 
}

#wrapper > div.main > div:nth-child(1) > div > div ul {
	margin-left: -42px;
}


/*** Hiding Duplicate Button in Error Popup ***/
#sco_error > div > div > div.modal-body > div > form > input.btn.btn-info.back.focus {
display: none;
}


/*** Repurposing the Print Modal as Closing Popup ***/
#bootstrap-confirm-box-modal {
width: 100%;
}

#bootstrap-confirm-box-modal > div > div > div.modal-header > h4 {
visibility: hidden;
width: 100%;
}

#bootstrap-confirm-box-modal > div > div > div.modal-header > h4::before {
content: 'Your Items Have Been Checked Out! \A Your receipt will be emailed to you shortly.';
white-space: pre;
color: #084d69;
visibility: visible;
display: block;
width: 100%;
margin: auto;
text-align: center;
font-size: 1.75em;
padding-top: 15px;
}

#bootstrap-confirm-box-modal .modal-header {
border-bottom: none;
}

#bootstrap-confirm-box-modal-submit {
display: none;
}

#bootstrap-confirm-box-modal-cancel {
color: white;
width: 50%;
margin: auto;
margin-bottom: 25px; 
}

.modal-backdrop {
background-color: #084d69;
}

#bootstrap-confirm-box-modal .modal-content {
background-image: url("https://github.com/mckinneylibrary/images/blob/master/TestServer/Untitled%20(1080%20%C3%97%20880%20px)%20(500%20%C3%97%20407%20px)%20(800%20%C3%97%20651%20px)%20(3).gif?raw=true"); 
background-repeat: no-repeat;
width: 800px;
height: 800px;
margin-left: -150px;
margin-top: 400px;
border-radius: 20px;
}

#bootstrap-confirm-box-modal .modal-footer {
position: absolute;
bottom: 0; 
border-top: none; 
}

#bootstrap-confirm-box-modal-cancel {
width: 500px;
margin-left: 150px;
background-color: #084d69;
font-size: 1.5em;
padding: 15px;
border-radius: 5px;  
}
